molecule==2.20.1  # https://github.com/ansible/molecule
docker==4.0.2
# Workaround for this error:
#   "AttributeError: 'PlaybookCLI' object has no attribute 'base_parser'"
#   https://github.com/ansible/molecule/issues/1727
#   https://github.com/ansible/molecule/issues/2083
#   https://github.com/philpep/testinfra/issues/401
testinfra==3.0.4